<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/sidebar-styles.css">
    <style>
        .nav-pills .nav-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .nav-pills .nav-link.active {
            background-color: #cdcdce;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 sidebar d-flex flex-column vh-100 position-fixed">
                <div class="d-flex flex-column flex-grow-1">
                    <a th:href="@{dashboard}" class="navbar-brand">
                        <i class="bi bi-coin"></i>
                        FinanceTracker
                    </a>
                    <hr class="horizontal dark mt-0 mb-2">
                    <a th:href="@{dashboard}" class="nav-link active bg-gradient">
                        <i class="bi bi-columns-gap"></i>
                        Dashboard
                    </a>
                    <a th:href="@{accounts}" class="nav-link text-dark">
                        <i class="bi bi-credit-card"></i>
                        Accounts
                    </a>
                    <a th:href="@{transactions}" class="nav-link text-dark">
                        <i class="bi bi-arrow-left-right"></i>
                        Transactions
                    </a>
                    <a th:href="@{budgets}" class="nav-link text-dark">
                        <i class="bi bi-wallet2"></i>
                        Budgets
                    </a>
                    <a th:href="@{financialGoals}" class="nav-link text-dark">
                        <i class="bi bi-piggy-bank"></i>
                        Goals
                    </a>
                    <a th:href="@{reports}" class="nav-link text-dark">
                        <i class="bi bi-bar-chart"></i>
                        Reports
                    </a>
                    <div class="logout-section mt-auto p-3">
                        <form th:action="@{logout}" method="post">
                            <button type="submit" class="logout-btn w-100 btn btn-dark">
                                <i class="bi bi-box-arrow-right"></i>
                                Logout</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-lg-2"></div>

            <div class="col-md-9 col-lg-10 main-content">
                <div class="container-fluid pt-2">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="card shadow-sm h-100">
                                <div class="ms-3 card-body d-flex justify-content-between align-items-center">
                                    <div>
                                        <h2 class="card-title mb-1 fw-bold">
                                            Welcome back, <span th:text="${user.firstName}"></span>
                                        </h2>
                                        <p class="text-muted mb-0">
                                            <span class="badge bg-secondary" sec:authentication="principal.authorities"></span>
                                        </p>
                                    </div>
                                    <button type="button" class="btn btn-dark d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#addingTransactionModal">
                                        <i class="bi bi-plus-lg me-2"></i>
                                        Add transaction
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row mb-4">
                                <div class="col-md-4 mb-2">
                                    <div class="card shadow-sm h-100 mt-2">
                                        <div class="card-body d-flex align-items-center justify-content-center p-1">
                                            <div class="text-center">
                                                <i class="bi bi-cash-stack fs-1"></i>
                                                <h6 class="text-uppercase text-muted mb-0">Total Balance</h6>
                                                <h3 class="mb-0" th:text="${#numbers.formatDecimal(totalBalance, 1,
                                         'WHITESPACE', 2, 'POINT')} + ' $'"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="card shadow-sm h-100 mt-2">
                                        <div class="card-body d-flex align-items-center justify-content-center p-1">
                                            <div class="text-center">
                                                <i class="bi bi-graph-up-arrow fs-1"></i>
                                                <h6 class="text-uppercase text-muted mb-0">Income Last 30 Days</h6>
                                                <h3 class="mb-0 text-success" th:text="${#numbers.formatDecimal(incomeFromLastMonth, 1,
                                             'WHITESPACE', 2, 'POINT')} + ' $'"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="card shadow-sm h-100 mt-2">
                                        <div class="card-body d-flex align-items-center justify-content-center p-1">
                                            <div class="text-center">
                                                <i class="bi bi-graph-down-arrow fs-1"></i>
                                                <h6 class="text-uppercase text-muted mb-0">Expenses Last 30 Days</h6>
                                                <h3 class="mb-0 text-danger" th:text="${#numbers.formatDecimal(expensesFromLastMonth, 1,
                                             'WHITESPACE', 2, 'POINT')} + ' $'"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-5">
                                    <div class="card shadow-sm h-100">
                                        <div class="card-body text-center">
                                            <h5 class="card-title fw-bold">Expenses by Category (Last 30 Days)</h5>
                                            <div th:if="${not #maps.isEmpty(expensesByCategory)}" class="d-flex gap-5" style="height: 300px;">
                                                <canvas id="expenseChart"></canvas>
                                            </div>
                                            <div th:unless="${not #maps.isEmpty(expensesByCategory)}" class="d-flex align-items-center justify-content-center" style="height: 300px;">
                                                <p class="text-muted">No expenses recorded in the last 30 days.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card shadow-sm h-100">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="card-title mb-0 fw-bold">Recent Transactions</h5>
                                                <a th:href="@{/transactions}" class="btn btn-link text-decoration-none">
                                                    View all transactions <i class="bi bi-arrow-right"></i>
                                                </a>
                                            </div>
                                            <div th:if="${not #lists.isEmpty(recentTransactions)}" th:each="tempTransaction : ${recentTransactions}"
                                                 class="d-flex justify-content-between align-items-center mb-1 p-2">
                                                <div class="d-flex align-items-center">
                                                    <span class="me-3 fw-medium"
                                                            th:text="${#temporals.format(tempTransaction.date, 'MMM dd', T(java.util.Locale).ENGLISH)}">
                                                    </span>
                                                    <span th:if="${tempTransaction.category.type == 'INCOME'}">
                                                        <span class="badge bg-success bg-opacity-25 text-success px-3 py-2" th:text="${tempTransaction.category.name}"></span>
                                                        <span class="mx-2">→</span>
                                                        <span class="ms-2" th:text="${tempTransaction.account.name}"></span>
                                                    </span>
                                                    <span th:if="${tempTransaction.category.type == 'EXPENSE'}">
                                                        <span th:text="${tempTransaction.account.name}"></span>
                                                        <span class="mx-2">→</span>
                                                        <span class="badge bg-danger bg-opacity-25 text-danger px-3 py-2" th:text="${tempTransaction.category.name}"></span>
                                                    </span>
                                                        <span th:if="${tempTransaction.category.type == 'FINANCIAL_GOAL'}">
                                                        <span th:text="${tempTransaction.account.name}"></span>
                                                        <span class="mx-2">→</span>
                                                        <span class="badge bg-warning bg-opacity-25 text-warning px-3 py-2" th:text="${tempTransaction.category.name}"></span>
                                                    </span>
                                                </div>
                                                <div>
                                                <span class="fw-bold" th:text="${tempTransaction.category.type == 'INCOME' ?
                                                        #numbers.formatDecimal(tempTransaction.amount, 1, 'WHITESPACE', 2, 'POINT') +
                                                         ' ' + tempTransaction.account.currency : '- ' +
                                                        #numbers.formatDecimal(tempTransaction.amount, 1, 'WHITESPACE', 2, 'POINT') +
                                                         ' ' + tempTransaction.account.currency}"
                                                      th:classappend="${tempTransaction.category.type == 'INCOME' ? 'text-success' : 'text-danger'}">
                                                </span>
                                                </div>
                                            </div>
                                            <div th:unless="${not #lists.isEmpty(recentTransactions)}" class="d-flex align-items-center justify-content-center" style="height: 300px;">
                                                <p class="text-muted">No transactions recorded.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <div class="card shadow-sm h-100">
                                        <div class="card-body text-center">
                                            <h5 class="card-title fw-bold">Monthly income and expenses</h5>
                                            <div class="d-flex gap-5" style="height: 310px;">
                                                <canvas id="transactionsChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="row mb-3">
                                <div class="d-flex flex-column h-100">
                                    <div class="card shadow-sm flex-grow-1 mt-2">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <i class="bi bi-currency-exchange me-2 fs-4"></i>
                                                <h5 class="card-title fw-bold">Exchange Rates vs US Dollar</h5>
                                            </div>
                                            <ul class="list-group list-group-flush" th:if="${rates}">
                                                <li class="list-group-item d-flex justify-content-between align-items-center" th:each="entry : ${rates}">
                                                    <span class="badge bg-light text-dark border" th:text="${entry.key}"></span>
                                                    <span class="fw-bold" th:text="${entry.value}"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="d-flex flex-column h-100">
                                    <div class="card shadow-sm flex-grow-1 mt-2">
                                        <div class="card-body">
                                            <h5 class="card-title fw-bold">Budget Progress</h5>
                                            <div th:if="${not #lists.isEmpty(activeBudgets)}" th:each="activeBudget : ${activeBudgets}"
                                            class="d-flex flex-column mb-3 rounded p-2">
                                                <div class="d-flex justify-content-between fw-medium mb-1">
                                                    <span th:text="${activeBudget.category.name}"></span>
                                                    <span th:text="${#numbers.formatDecimal(activeBudget.budgetSpent, 1, 'WHITESPACE', 2, 'POINT') + ' / ' +
                                                            #numbers.formatDecimal(activeBudget.budgetSize, 1, 'WHITESPACE', 2, 'POINT') + ' $'}"></span>
                                                </div>
                                                <div class="mt-auto">
                                                    <div class="progress" style="height: 6px;">
                                                        <div class="progress-bar bg-info"
                                                             th:style="'width: ' + ${(activeBudget.budgetSpent / activeBudget.budgetSize * 100)} + '%;'">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div th:unless="${not #lists.isEmpty(activeBudgets)}" class="d-flex align-items-center justify-content-center">
                                                <p class="text-muted">No active budgets recorded.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex flex-column h-100">
                                    <div class="card shadow-sm flex-grow-1 mt-2">
                                        <div class="card-body">
                                            <h5 class="card-title fw-bold">Financial Goals</h5>
                                            <div th:if="${not #lists.isEmpty(financialGoals)}" th:each="financialGoal : ${financialGoals}"
                                                 class="d-flex flex-column mb-3 rounded p-2">
                                                <div class="d-flex justify-content-between fw-medium mb-1">
                                                    <span th:text="${financialGoal.name}"></span>
                                                    <span th:text="${#numbers.formatDecimal(financialGoal.currentAmount, 1, 'WHITESPACE', 2, 'POINT') + ' / ' +
                                                            #numbers.formatDecimal(financialGoal.targetAmount, 1, 'WHITESPACE', 2, 'POINT') + ' $'}"></span>
                                                </div>
                                                <div class="mt-auto">
                                                    <div class="progress" style="height: 6px;">
                                                        <div class="progress-bar bg-warning"
                                                             th:style="'width: ' + ${(financialGoal.currentAmount / financialGoal.targetAmount * 100)} + '%;'">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div th:unless="${not #lists.isEmpty(financialGoals)}" class="d-flex align-items-center justify-content-center">
                                                <p class="text-muted">No financial goals recorded.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addingTransactionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Transaction</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <ul class="nav nav-pills nav-fill mb-3 me-3" id="transactionTypeTabs">
                        <li class="nav-item">
                            <button class="nav-link active text-danger border border-dark" data-bs-toggle="tab" data-bs-target="#expense" type="button">Expense</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link text-success border border-dark" data-bs-toggle="tab" data-bs-target="#income" type="button">Income</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link text-warning border border-dark" data-bs-toggle="tab" data-bs-target="#goal" type="button">Goal</button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="expense">
                            <form th:action="@{/transactions/save}" th:object="${transaction}" method="post">
                                <input type="hidden" name="source" value="dashboard" />
                                <div class="mb-3">
                                    <label class="form-label" for="accountNameExpense">From: </label>
                                    <select class="form-select" id="accountNameExpense" th:field="*{accountId}" required>
                                        <option th:each="account : ${accounts}"
                                                th:value="${account.id}"
                                                th:text="${account.name + ' ' + account.currency}">
                                        </option>
                                    </select>
                                    <div class="text-danger" th:if="${#fields.hasErrors('accountId')}" th:errors="*{accountId}"></div>
                                </div>
                                <div class="mb-5">
                                    <label class="form-label" for="amountExpense">Amount: </label>
                                    <input type="number" step="0.01" id="amountExpense" class="form-control" th:field="*{amount}" required>
                                    <div class="text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
                                </div>
                                <div class="d-flex gap-5">
                                    <div class="w-50">
                                        <label class="form-label" for="expenseCategory">Choose expense category: </label>
                                        <select class="form-select mb-4 w-100" id="expenseCategory" th:field="*{categoryId}" required>
                                            <option th:each="expenseCategory : ${expenseCategories}"
                                                    th:value="${expenseCategory.id}"
                                                    th:text="${expenseCategory.name}">
                                            </option>
                                        </select>
                                        <div class="text-danger" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></div>
                                    </div>
                                    <div class="w-50">
                                        <label class="form-label" for="expenseDate">Choose date: </label>
                                        <input type="date" class="form-control" id="expenseDate" th:field="*{date}" required>
                                        <div class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label class="form-label" for="expenseDescription">Description: </label>
                                    <input type="text" id="expenseDescription" class="form-control" th:field="*{description}">
                                    <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-dark">Add Transaction</button>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade show" id="income">
                            <form th:action="@{/transactions/save}" th:object="${transaction}" method="post">
                                <input type="hidden" name="source" value="dashboard" />
                                <div class="mb-3">
                                    <label class="form-label" for="accountNameIncome">To: </label>
                                    <select class="form-select" id="accountNameIncome" th:field="*{accountId}" required>
                                        <option th:each="account : ${accounts}"
                                                th:value="${account.id}"
                                                th:text="${account.name + ' ' + account.currency}">
                                        </option>
                                    </select>
                                    <div class="text-danger" th:if="${#fields.hasErrors('accountId')}" th:errors="*{accountId}"></div>
                                </div>
                                <div class="mb-5">
                                    <label class="form-label" for="amountIncome">Amount: </label>
                                    <input type="number" step="0.01" id="amountIncome" class="form-control" th:field="*{amount}" required>
                                    <div class="text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
                                </div>
                                <div class="d-flex gap-5">
                                    <div class="w-50">
                                        <label class="form-label" for="incomeCategory">Choose expense category: </label>
                                        <select class="form-select mb-4 w-100" id="incomeCategory" th:field="*{categoryId}" required>
                                            <option th:each="incomeCategory : ${incomeCategories}"
                                                    th:value="${incomeCategory.id}"
                                                    th:text="${incomeCategory.name}">
                                            </option>
                                        </select>
                                        <div class="text-danger" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></div>
                                    </div>
                                    <div class="w-50">
                                        <label class="form-label" for="incomeDate">Choose date: </label>
                                        <input type="date" class="form-control" id="incomeDate" th:field="*{date}" required>
                                        <div class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label class="form-label" for="incomeDescription">Description: </label>
                                    <input type="text" id="incomeDescription" class="form-control" th:field="*{description}">
                                    <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-dark">Add Transaction</button>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade show" id="goal">
                            <form th:action="@{/transactions/save}" th:object="${transaction}" method="post">
                                <input type="hidden" name="source" value="dashboard" />
                                <div class="mb-3">
                                    <label class="form-label" for="accountNameGoal">From: </label>
                                    <select class="form-select" id="accountNameGoal" th:field="*{accountId}" required>
                                        <option th:each="account : ${accounts}"
                                                th:value="${account.id}"
                                                th:text="${account.name + ' ' + account.currency}">
                                        </option>
                                    </select>
                                    <div class="text-danger" th:if="${#fields.hasErrors('accountId')}" th:errors="*{accountId}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="financialGoalName">To: </label>
                                    <select class="form-select" id="financialGoalName" th:field="*{financialGoalId}" required>
                                        <option th:each="financialGoal : ${financialGoals}"
                                                th:value="${financialGoal.id}"
                                                th:text="${financialGoal.name}"
                                                th:disabled="${financialGoal.isAchieved}">
                                        </option>
                                    </select>
                                    <div class="text-danger" th:if="${#fields.hasErrors('financialGoalId')}" th:errors="*{financialGoalId}"></div>
                                </div>
                                <div class="mb-5">
                                    <label class="form-label" for="amountGoal">Amount: </label>
                                    <input type="number" step="0.01" id="amountGoal" class="form-control" th:field="*{amount}" required>
                                    <div class="text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
                                </div>
                                <div class="d-flex gap-5">
                                    <div class="w-50">
                                        <label class="form-label" for="goalCategory">Transaction category: </label>
                                        <select class="form-select mb-4 w-100" id="goalCategory" th:field="*{categoryId}" required>
                                            <option th:each="goalCategory : ${financialGoalCategories}"
                                                    th:value="${goalCategory.id}"
                                                    th:text="${goalCategory.name}">
                                            </option>
                                        </select>
                                        <div class="text-danger" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></div>
                                    </div>
                                    <div class="w-50">
                                        <label class="form-label" for="goalDate">Choose date: </label>
                                        <input type="date" class="form-control" id="goalDate" th:field="*{date}" required>
                                        <div class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label class="form-label" for="goalDescription">Description: </label>
                                    <input type="text" id="goalDescription" class="form-control" th:field="*{description}">
                                    <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-dark">Add Transaction</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script th:inline="javascript">

        // Expenses

        const expensesData = /*[[${expensesByCategory}]]*/ {};
        const categories = Object.keys(expensesData);
        const amounts = categories.map(function (key) {
            return expensesData[key];
        });

        const ctx = document.getElementById('expenseChart').getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: categories,
                datasets: [{
                    data: amounts,
                    backgroundColor: [
                        '#4E79A7', '#F28E2B', '#E15759', '#76B7B2', '#59A14F', '#EDC948',
                        '#B07AA1', '#FF9DA7', '#9C755F', '#BAB0AC', '#7C7C7C', '#6A5D4D'
                    ],
                    borderColor: '#fff',
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return `${context.label}: $${context.raw.toFixed(2)}`;
                            }
                        }
                    }
                }
            }
        });

        // Transactions Last Six Months


        const transactionsData = /*[[${transactionsLastSixMonths}]]*/ {};
        const months = Object.keys(transactionsData);
        const income = months.map(m => transactionsData[m].INCOME.toFixed(2));
        const expenses = months.map(m => transactionsData[m].EXPENSE.toFixed(2));

        const context = document.getElementById('transactionsChart').getContext('2d');
        new Chart(context, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [
                    {
                        label: "Income",
                        data: income,
                        backgroundColor: '#38913e',
                        hoverBackgroundColor: '#1B5E20',
                        borderRadius: 5
                    },
                    {
                        label: "Expense",
                        data: expenses,
                        backgroundColor: '#d53e3e',
                        hoverBackgroundColor: '#B71C1C',
                        borderRadius: 5
                    },
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Amount ($)'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Month'
                        }
                    }
                },
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return `${context.dataset.label}: $${context.raw}`;
                            }
                        }
                    }
                }
            }
        });

    </script>
</body>
</html>