<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/sidebar-styles.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 sidebar d-flex flex-column vh-100">
                <div class="d-flex flex-column flex-grow-1">
                    <a th:href="@{dashboard}" class="navbar-brand">
                        <i class="bi bi-coin"></i>
                        FinanceTracker
                    </a>
                    <hr class="horizontal dark mt-0 mb-2">
                    <a th:href="@{dashboard}" class="nav-link active bg-gradient">
                        <i class="bi bi-speedometer2"></i>
                        Dashboard
                    </a>
                    <a th:href="@{accounts}" class="nav-link text-dark">
                        <i class="bi bi-credit-card"></i>
                        Accounts
                    </a>
                    <a th:href="@{transactions}" class="nav-link text-dark">
                        <i class="bi bi-arrow-left-right"></i>
                        Transactions
                    </a>
                    <a th:href="@{budgets}" class="nav-link text-dark">
                        <i class="bi bi-wallet2"></i>
                        Budgets
                    </a>
                    <a th:href="@{goals}" class="nav-link text-dark">
                        <i class="bi bi-piggy-bank"></i>
                        Goals
                    </a>
                    <a th:href="@{reports}" class="nav-link text-dark">
                        <i class="bi bi-bar-chart"></i>
                        Reports
                    </a>
                    <div class="logout-section mt-auto p-3">
                        <form th:action="@{logout}" method="post">
                            <button type="submit" class="logout-btn w-100 btn btn-dark">
                                <i class="bi bi-box-arrow-right"></i>
                                Logout</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-lg-10 main-content">
                <div class="container-fluid pt-2">

                    <h2>Welcome back, <span th:text="${user.firstName}"></span>
                        <span sec:authentication="principal.authorities"></span></h2>

                    <div class="row mb-4">
                        <div class="col-md-3 mb-2">
                            <div class="card shadow-sm h-100 mt-2">
                                <div class="card-body d-flex align-items-center justify-content-center p-1">
                                    <div class="text-center">
                                        <i class="bi bi-cash-stack fs-1"></i>
                                        <h6 class="text-uppercase text-muted mb-0">Total Balance</h6>
                                        <h3 class="mb-0" th:text="${#numbers.formatDecimal(totalBalance, 1,
                                         'WHITESPACE', 2, 'POINT')} + ' $'"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="card shadow-sm h-100 mt-2">
                                <div class="card-body d-flex align-items-center justify-content-center p-1">
                                    <div class="text-center">
                                            <i class="bi bi-graph-up-arrow fs-1"></i>
                                            <h6 class="text-uppercase text-muted mb-0">Income Last Month</h6>
                                            <h3 class="mb-0 text-success" th:text="${#numbers.formatDecimal(incomeFromLastMonth, 1,
                                             'WHITESPACE', 2, 'POINT')} + ' $'"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="card shadow-sm h-100 mt-2">
                                <div class="card-body d-flex align-items-center justify-content-center p-1">
                                    <div class="text-center">
                                            <i class="bi bi-graph-down-arrow fs-1"></i>
                                            <h6 class="text-uppercase text-muted mb-0">Expenses Last Month</h6>
                                            <h3 class="mb-0 text-danger" th:text="${#numbers.formatDecimal(expensesFromLastMonth, 1,
                                             'WHITESPACE', 2, 'POINT')} + ' $'"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <div class="card shadow-sm h-100">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Expenses by Category (Last 30 Days)</h5>
                                    <div class="d-flex gap-5" style="height: 300px;">
                                        <canvas id="expenseChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card shadow-sm h-100">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Monthly income and expenses</h5>
                                    <div class="d-flex gap-5" style="height: 300px;">
                                        <canvas id="transactionsChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:inline="javascript">

        // Expenses

        const expensesData = /*[[${expensesByCategory}]]*/ {};
        const categories = Object.keys(expensesData);
        const amounts = categories.map(function (key) {
            return expensesData[key];
        });

        const ctx = document.getElementById('expenseChart').getContext('2d');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: categories,
                datasets: [{
                    data: amounts,
                    backgroundColor: [
                        '#4E79A7', '#F28E2B', '#E15759', '#76B7B2', '#59A14F', '#EDC948',
                        '#B07AA1', '#FF9DA7', '#9C755F', '#BAB0AC', '#7C7C7C', '#6A5D4D'
                    ],
                    borderColor: '#fff',
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return `${context.label}: $${context.raw.toFixed(2)}`;
                            }
                        }
                    }
                }
            }
        });

        // Transactions Last Six Months


        const transactionsData = /*[[${transactionsLastSixMonths}]]*/ {};
        const months = Object.keys(transactionsData);
        const income = months.map(m => transactionsData[m].INCOME.toFixed(2));
        const expenses = months.map(m => transactionsData[m].EXPENSE.toFixed(2));

        const context = document.getElementById('transactionsChart').getContext('2d');
        new Chart(context, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [
                    {
                        label: "Income",
                        data: income,
                        backgroundColor: '#38913e',
                        hoverBackgroundColor: '#1B5E20',
                        borderRadius: 5
                    },
                    {
                        label: "Expense",
                        data: expenses,
                        backgroundColor: '#d53e3e',
                        hoverBackgroundColor: '#B71C1C',
                        borderRadius: 5
                    },
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Amount ($)'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Month'
                        }
                    }
                },
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return `${context.dataset.label}: $${context.raw}`;
                            }
                        }
                    }
                }
            }
        });

    </script>
</body>
</html>